/* Desktop */
@media screen and (min-width: 1024px) {
	.mission {
		margin: 200px 0;
		position: relative;
		width: 100%;
		background: #fff;
		z-index: 2;
	}

	.image {
		position: absolute;
		top: -10%;
		left: 0;
		width: 70%;
		height: 90%;
		z-index: -1;
		object-fit: cover;
		border-radius: 20px;
	}

	.missionContainer {
		width: 60%;
		margin-left: auto;
		background-color: #001ba6;
		z-index: 2;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		border-radius: 20px;
	}

	.missionContentContainer {
		width: 100%;
		max-width: 900px;
		padding: 50px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.title {
		color: #fff;
		margin: 0;
		font-weight: 700;
		font-size: 3rem;
		margin-bottom: 2rem;
	}

	.description {
		color: #fff;
		margin: 0;
		font-size: 1rem;
		font-weight: 400;
		margin-bottom: 2rem;
		font-family: inherit;
	}

	.textContainer {
		width: 100%;
		background-color: #fff;
		border-radius: 20px;
		padding: 20px;
		margin-bottom: 2rem;
	}

	.textContainer h3 {
		color: #001ba6;
		margin: 0;
		margin-bottom: 0.5rem;
		font-weight: 600;
		font-size: 1.5rem;
		font-family: inherit;
	}

	.textContainer p {
		color: #000;
		font-size: 1rem;
		font-weight: 400;
		margin: 0;
		font-family: inherit;
	}
}

/* Tablet */
@media screen and (min-width: 700px) and (max-width: 1024px) {
	.mission {
		margin: 50px 0;
		position: relative;
		width: 100%;
		background: #fff;
		z-index: 2;
	}

	.image {
		display: none;
	}

	.missionContainer {
		width: 100%;
		margin-left: auto;
		background-color: #001ba6;
		z-index: 2;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.missionContentContainer {
		width: 100%;
		max-width: 900px;
		padding: 50px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.title {
		color: #fff;
		margin: 0;
		font-weight: 700;
		font-size: 3rem;
		margin-bottom: 2rem;
	}

	.description {
		color: #fff;
		margin: 0;
		font-size: 1rem;
		font-weight: 400;
		margin-bottom: 2rem;
		font-family: inherit;
	}

	.textContainer {
		width: 100%;
		background-color: #fff;
		border-radius: 20px;
		padding: 20px;
		margin-bottom: 2rem;
	}

	.textContainer h3 {
		color: #001ba6;
		margin: 0;
		margin-bottom: 0.5rem;
		font-weight: 600;
		font-size: 1.5rem;
		font-family: inherit;
	}

	.textContainer p {
		color: #000;
		font-size: 1rem;
		font-weight: 400;
		margin: 0;
		font-family: inherit;
	}
}

/* Mobille */
@media screen and (max-width: 700px) {
	.mission {
		margin: 50px 0;
		position: relative;
		width: 100%;
		background: #fff;
		z-index: 2;
	}

	.image {
		display: none;
	}

	.missionContainer {
		width: 100%;
		margin-left: auto;
		background-color: #001ba6;
		z-index: 2;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.missionContentContainer {
		width: 100%;
		max-width: 900px;
		padding: 20px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.title {
		color: #fff;
		margin: 0;
		font-weight: 700;
		font-size: 2rem;
		margin-bottom: 2rem;
	}

	.description {
		color: #fff;
		margin: 0;
		font-size: 1rem;
		font-weight: 400;
		margin-bottom: 2rem;
		font-family: inherit;
	}

	.textContainer {
		width: 100%;
		background-color: #fff;
		border-radius: 20px;
		padding: 20px;
		margin-bottom: 2rem;
	}

	.textContainer h3 {
		color: #001ba6;
		margin: 0;
		margin-bottom: 0.5rem;
		font-weight: 600;
		font-size: 1.5rem;
		font-family: inherit;
	}

	.textContainer p {
		color: #000;
		font-size: 1rem;
		font-weight: 400;
		margin: 0;
		font-family: inherit;
	}
}
